*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html, body, .wrapper {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #191919;
}

.moon {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 100px;
    top: 50px;

    background: radial-gradient(circle, #F9E492 100px, #191919 1%);
}

.mountain {
    width: 200px;
    height: 200px;
    position: absolute;
    background: radial-gradient(circle at -6px -6px, #191919 100px, #4F77FF 1%);

    left: 100px;
    top: 200px;
    transform: rotate(45deg);
}

.ground {
    width: 300px;
    height: 150px;
    position: absolute;
    background: #191919;

    left: 50px;
    top: 300px;
}
